
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="content">
    <br>
    <br>
    <h1>__Dashboard__</h1>
    <p id="counter"> number of requests: @(api.Count.getValue()) </p>
</div>

<script>
    let s = 10;

    document.addEventListener("DOMContentLoaded", function() {
        var c = document.querySelector('#counter');
        setInterval(() => {
            if (s < 150)
            {
                document.getElementById("counter").style.fontSize = s + "px";
                s += 5;
            }
            else 
                s = 10;
        }, 100);
    });
</script>


